// 颜色定义规范
@color-background: var(--color-background, #1c1c1c);
@color-background-3: var(--color-background-3, rgba(28, 28, 28, 0.3));
@color-highlight-background: var(--color-highlight-background, #333);
@color-text: var(--color-text, #eeeeee);
@color-text-3: var(--color-text-3, rgba(238, 238, 238, 0.3));
@color-text-5: var(--color-text-5, rgba(238, 238, 238, 0.5));
@color-text-8: var(--color-text-8, rgba(238, 238, 238, 0.8));

// 主题色-dark
@color-theme: var(--color-theme, #400ae0);
@color-theme-d: var(--color-theme-d, rgba(64, 10, 224, 0.5));
@color-sub-theme: var(--color-sub-theme, #621cef);

// 字体定义规范
@font-size-small-s: var(--font-size-small-s, 10px);
@font-size-small: var(--font-size-small, 12px);
@font-size-medium: var(--font-size-medium, 14px);
@font-size-medium-x: var(--font-size-medium-x, 16px);
@font-size-large: var(--font-size-large, 18px);
@font-size-large-x: var(--font-size-large-x, 22px);
